.Control > * {
  margin: 5px;
}

.Control, .Control-panel {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.Control-panel > * {
  margin: 5px 5px;
  font-size: 18px;
}

.Control-panel-checkbox > * {
  vertical-align: text-bottom;
}
